<h1><a href="/users">User Leaderboard</a>          Team Leaderboard</h1>

<h2>This will list the top teams and their stats.</h2>
<% @teams.each do |team| %>
  <div>
    <h3><%= team.name %> Team: <%= team.flags %> Flags</h3>
  </div>
<% end %>